<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layouts.name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layouts.name3"), root_path %></li>
        <li><%= link_to t("layouts.name4"), help_path %></li>
        <li><%= link_to t("layouts.name5"), '#' %></li>
      </ul>
    </nav>
  </div>
</header>
